---
'on':
  workflow_dispatch:
    inputs:
      artifact_name:
        required: true

jobs:
  manual:
    runs-on: ubuntu-latest
    env:
      ARTIFACT_NAME: ${{ github.event.inputs.artifact_name }}
    steps:
      - run: uuidgen > "$ARTIFACT_NAME.txt"

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.artifact_name }}
          path: ${{ github.event.inputs.artifact_name }}.txt
