---
'on':
  push:
    paths:
      - out.js
      - .github/workflows/test.yaml

env:
  EXPECTED_ARTIFACT_ID: 5642249343
  EXPECTED_DATA: acfaf986-653e-429c-a714-3bfb4b131d90

jobs:
  test-single:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        with:
          ref: target
          artifact_name: Banana
          download: true

      - run: unzip Banana.zip

      - run: diff <(echo "$EXPECTED_DATA") Banana.txt

      - run: diff <(echo "$EXPECTED_ARTIFACT_ID") <(echo "$ACTUAL")
        env:
          ACTUAL: ${{ steps.action.outputs.artifact_id }}


  test-single-with-run-name:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        with:
          ref: target
          artifact_name: Banana
          download: true
          run_name: manual

      - run: unzip Banana.zip

      - run: diff <(echo "$EXPECTED_DATA") Banana.txt

      - run: diff <(echo "$EXPECTED_ARTIFACT_ID") <(echo "$ACTUAL")
        env:
          ACTUAL: ${{ steps.action.outputs.artifact_id }}


  test-multiple:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        continue-on-error: true
        with:
          ref: target
          artifact_name: Apple

      - run: diff <(echo "$EXPECTED") <(echo "$ACTUAL")
        env:
          EXPECTED: multiple-artifacts
          ACTUAL: ${{ steps.action.outputs.error }}


  test-none:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        continue-on-error: true
        with:
          ref: target
          artifact_name: Cherry

      - run: diff <(echo "$EXPECTED") <(echo "$ACTUAL")
        env:
          EXPECTED: no-artifacts
          ACTUAL: ${{ steps.action.outputs.error }}
