---
'on':
  push:
    paths:
      - out.js
      - .github/workflows/test.yaml

env:
  EXPECTED_ARTIFACT_ID: 5642249343
  EXPECTED_CHECKSUM: 50a2fabfdd276f573ff97ace8b11c5f4
  EXPECTED_DATA: acfaf986-653e-429c-a714-3bfb4b131d90

jobs:
  test-single:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        with:
          ref: target
          artifact_name: Banana
          download: true

      - run: unzip Banana.zip

      - run: test "$EXPECTED" = "$(cat Banana.txt)"
        env:
          EXPECTED: ${{ env.EXPECTED_DATA }}

      - run: test "$EXPECTED" = "$ACTUAL"
        env:
          EXPECTED: ${{ env.EXPECTED_ARTIFACT_ID }}
          ACTUAL: ${{ steps.action.outputs.artifact_id }}


  test-single-with-run-name:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        with:
          ref: target
          artifact_name: Banana
          download: true
          run_name: manual

      - run: unzip Banana.zip

      - run: test "$EXPECTED" = "$(cat Banana.txt)"
        env:
          EXPECTED: ${{ env.EXPECTED_DATA }}

      - run: test "$EXPECTED" = "$ACTUAL"
        env:
          EXPECTED: ${{ env.EXPECTED_ARTIFACT_ID }}
          ACTUAL: ${{ steps.action.outputs.artifact_id }}


  test-multiple:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        continue-on-error: true
        with:
          ref: target
          artifact_name: Apple

      - run: test "$EXPECTED" = "$ACTUAL"
        env:
          EXPECTED: multiple-artifacts
          ACTUAL: ${{ steps.action.outputs.error }}


  test-none:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        continue-on-error: true
        with:
          ref: target
          artifact_name: Cherry

      - run: test "$EXPECTED" = "$ACTUAL"
        env:
          EXPECTED: no-artifacts
          ACTUAL: ${{ steps.action.outputs.error }}
