---
'on':
  push:
    paths:
      - out.js
      - .github/workflows/test.yaml

env:
  TARGET_REF: target
  SINGLE_ARTIFACT_NAME: Banana
  EXPECTED_SINGLE_ARTIFACT_ID: 5642249343
  EXPECTED_SINGLE_DATA: acfaf986-653e-429c-a714-3bfb4b131d90
  MULTIPLE_ARTIFACT_NAME: Apple
  EXPECTED_MULTIPLE_NEWEST_ARTIFACT_ID: 5642251514
  EXPECTED_MULTIPLE_NEWEST_DATA: 5ee7f639-c36e-4da1-8a98-a0f64f3bc8f4

jobs:
  test-single:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        with:
          ref: ${{ env.TARGET_REF }}
          artifact_name: ${{ env.SINGLE_ARTIFACT_NAME }}
          download: true

      - run: unzip "$SINGLE_ARTIFACT_NAME.zip"

      - run: diff <(echo "$EXPECTED_SINGLE_DATA") "$SINGLE_ARTIFACT_NAME.txt"

      - run: diff <(echo "$EXPECTED_SINGLE_ARTIFACT_ID") <(echo "$ACTUAL")
        env:
          ACTUAL: ${{ steps.action.outputs.artifact_id }}


  test-single-with-run-name:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        with:
          ref: ${{ env.TARGET_REF }}
          artifact_name: ${{ env.SINGLE_ARTIFACT_NAME }}
          download: true
          run_name: manual

      - run: unzip "$SINGLE_ARTIFACT_NAME.zip"

      - run: diff <(echo "$EXPECTED_SINGLE_DATA") "$SINGLE_ARTIFACT_NAME.txt"

      - run: diff <(echo "$EXPECTED_SINGLE_ARTIFACT_ID") <(echo "$ACTUAL")
        env:
          ACTUAL: ${{ steps.action.outputs.artifact_id }}


  test-multiple:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        continue-on-error: true
        with:
          ref: ${{ env.TARGET_REF }}
          artifact_name: ${{ env.MULTIPLE_ARTIFACT_NAME }}

      - run: diff <(echo "$EXPECTED") <(echo "$ACTUAL")
        env:
          EXPECTED: multiple-artifacts
          ACTUAL: ${{ steps.action.outputs.error }}


  test-multiple-newest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        with:
          ref: ${{ env.TARGET_REF }}
          artifact_name: ${{ env.MULTIPLE_ARTIFACT_NAME }}
          download: true
          on_duplicate: newest

      - run: unzip "$MULTIPLE_ARTIFACT_NAME.zip"

      - run: diff <(echo "$EXPECTED_MULTIPLE_NEWEST_DATA") "$MULTIPLE_ARTIFACT_NAME.txt"

      - run: diff <(echo "$EXPECTED_MULTIPLE_NEWEST_ARTIFACT_ID") <(echo "$ACTUAL")
        env:
          ACTUAL: ${{ steps.action.outputs.artifact_id }}


  test-none:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: action
        uses: ./
        continue-on-error: true
        with:
          ref: ${{ env.TARGET_REF }}
          artifact_name: Cherry

      - run: diff <(echo "$EXPECTED") <(echo "$ACTUAL")
        env:
          EXPECTED: no-artifacts
          ACTUAL: ${{ steps.action.outputs.error }}
